<!DOCTYPE html>
<html lang="en">
<body> 
	<h1>Welcome to HortonWorks</h1>
	<p>Click the below button to submit resumes</p>
	<form action = 'InsertResume.html'   >
		<input type="submit" value="upload" >
	</form>
	<p>Click here to submit JobDescription</p>
	<form action = 'http://localhost:5000/jd/upload'>
		<input type = 'submit' value = 'upload'>
	</form>
	<form action="http://localhost:5000/resume/compare" >
		<p>compare scores by clicking the below button</p>
		<input type = 'submit' value="compare">
	</form>
</body>
</html>
